{% extends 'base.html' %}
{% block nomePagina %}Index{% endblock %}

{% block conteudo %}
    <div class="container rounded bg-light m-5 p-5 w-50">
        <div class="row">
            <h1>Welcome to API Rest!</h1>
        </div>
        <div class="row pt-3">
            <h5>You can access the endpoints below:</h5>
        </div>
        <div class="row pt-2">
            <ul class="col-7 list-group">
                <li class="list-group-item"><a href="/patients">Patients</a></li>
                <li class="list-group-item"><a href="/pharmacies">Pharmacies</a></li>
                <li class="list-group-item"><a href="/transactions">Transactions</a></li>
            </ul>
        </div>
        <div class="row pt-4">
            <p>You can do filter on the endpoint. Just insert <b>?filter=</b> after the endpoint ends and complete with the text you want to filter.</p>
        </div>
        <div class="row pt-4">
            <a href="/logout">Logout</a>
        </div>
    </div>
{% endblock %}