<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <div class="header">
        <h1>Welcome!</h1>
    </div>

    <div class="endpoints">
        <ul>
            You can access the endpoints below:

            <li><a href="/patients">Patients</a></li>
            <li><a href="/pharmacies">Pharmacies</a></li>
            <li><a href="/transactions">Transactions</a></li>

        </ul>
    </div>
    <div class="logout">
        <a href="/logout">Logout</a>
    </div>
</body>
</html>